@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --primary: #495E57;
  --secondary: #F4CE14;
  --boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.in-progress {
  min-height: 40vh;
  height: fit-content;
  width: 500px;
  border: var(--primary) 2px solid;
  box-shadow: var(--boxShadow);
  margin: auto auto;
  border-radius: 16px;
  padding: 10px;
}

p, .paragraph {
  font-family: "Karla" !important;
  font-weight: 500 !important;
  font-size: 16pt !important;
  color: var(--primary) !important;
  line-height: 1.5 !important;
  max-width: 65ch !important;
}

.display-title {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 500;
  line-height: 0%;
}

.sub-title {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 400;
  line-height: 0%;
}

.lead-text {
  font-family: "Karla" !important;
  font-size: 18pt !important;
  font-weight: 500 !important;
}

.section-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20pt;
}

.card-title {
  font-family: "Karla" !important;
  font-size: 18pt !important;
  font-weight: 600 !important;
}

button {
  background-color: var(--secondary) !important;
  height: fit-content;
  border-radius: 16px !important;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  box-shadow: var(--boxShadow);
  color: #000 !important;
}

button:hover {
  background-color: var(--primary);
  color: #fff;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--secondary);
  opacity: 0.6;
  color: inherit;
}

.back-button {
  background-color: #d1d2d4 !important;
}

.back-button:hover {
  background-color: #b4b5b6 !important;
  color: #000;
}

button:disabled:hover {
  background-color: var(--secondary);
  opacity: 0.6;
  color: inherit;
}

.booking-page{
    border: #495E57 solid 2px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: var(--boxShadow);
    max-width: 600px;
    margin: auto auto;
}
