@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --primary: #495E57;
  --secondary: #F4CE14;
  --boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p, .paragraph{
  font-family: "Karla" !important;
  font-weight: 500 !important;
  font-size: 16pt !important;
  color: var(--primary) !important;
  line-height: 1.5 !important;
  max-width: 65ch !important;
}

.display-title{
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 500;
  line-height: 0%;
}

.sub-title{
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 400;
  line-height: 0%;
}

.lead-text{
  font-family: "Karla" !important;
  font-size: 18pt !important;
  font-weight: 500 !important;
}

.section-title{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20pt;
}

.card-title{
  font-family: "Karla" !important;
  font-size: 18pt !important;
  font-weight: 600 !important;
}

nav {
  background-color: #2a3934;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul img {
  height: 40px;
  object-fit: contain;
}

nav ul li, footer ul li {
  list-style: none;
}

nav ul li a, footer ul li a, footer ul li {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: var(--secondary);
  height: 30px;
  border-radius: 16px !important;
  border: none;
}

.specials {
  display: flex;
  justify-content: space-around;
  background-color: #2a3934;
  padding: 20px;
  box-shadow: var(--boxShadow);
}

.hero, .about {
  display: flex;
  border: #495E57 solid 2px;
  border-radius: 16px;
  margin: 20px 100px;
  padding: 20px;
  box-shadow: var(--boxShadow);
}

.hero h1 {
  color: var(--primary);
}

.hero h3 {
  color: var(--secondary);
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  border: var(--primary) 2px solid;
  border-radius: 8px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: var(--boxShadow);
}
.in-progress{
  min-height: 40vh;
  height: fit-content;
  width: 500px;
  border: var(--primary) 2px solid;
  box-shadow: var(--boxShadow);
  margin: auto auto;
  border-radius: 16px;
  padding: 10px;
}
button{
  cursor: pointer;
  padding: 0 10px;
}

button:hover{
  background-color: var(--primary);
  color: #fff;
}

footer {
  background-color: #2a3934;
  height: 180px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}